<div class="todo">
<h1>Toddo</h1>
<div>
  <input type="text" name="firstname"  required [(ngModel)]="login.firstname" #firstname="ngModel">
  <div *ngIf="firstname.invalid && (firstname.dirty || firstname. touched)">
    <div *ngIf="firstname.errors.requird">
     This Firstname field is required!
    </div>
  </div>
  <input type="text" name="secondname" required [(ngModel)]="login.secondname " #secondname="ngModel">
  <div *ngIf="secondname.invalid && (secondname.dirty || secondname.touched)">
    <div *ngIf="secondname.errors.required">
        This  Secondname field is required!
    </div>
  </div>

  <button (click)="add()" [disabled]="firstname.invalid && secondname.invalid">ADD</button>
</div>
<div class="tablestyle">
  <table>
    <thead>
      <tr>
        <th>FIRSTNAME</th>
        <th>SECONDNAME</th>
        <th></th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let x of table; let i=index">
        <td>{{x.firstname}}</td>
        <td>{{x.secondname}}</td>
        <td><button (click)="remove(i)">REMOVE</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<!--  -->
<p>Another</p>
<div>
  <button (click)="plus()">+</button>
  
  <input type="number" name="num" [(ngModel)]="numbers" #num="ngModel">
  <button (click)="minus()">-</button>
</div>

